body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para o PDF */
.pdf-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pdf-subheader {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.pdf-client-data {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.pdf-table {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
}

/* Estilos para a logo */
.logo {
    max-width: 150px;
    max-height: 75px;
}
